.container{
    width: 700px;
    height: 400px;
    border-radius: 20px;
}
.container > img{
    width: 700px;
    height: 400px;
    border-radius: 20px;
}
@media screen and (max-width: 600px) {
    .container{
        width: 900px;
        height: 300px;
    }
    .container > img{
        width: 900px;
        height: 300px;
    }
}